<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>sign in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sign-in">
    <ion-row>
      <ion-col size=12>
        <div class="label logo-text">
          <ion-label id="logo-text" size="large">PIKA</ion-label>
        </div>
      </ion-col>
      <ion-col size=12>
        <div class="input username">
          <ion-input id="input" color="dark" placeholder="username or email">
            <ion-icon id="icon" name="person"></ion-icon>
          </ion-input>
        </div>
      </ion-col>
      <ion-col size=12>
        <div class="input password">
          <ion-input id="input" color="dark" placeholder="password" type="password" inputmode="password">
            <ion-icon id="icon" name="key"></ion-icon>
          </ion-input>
        </div>
      </ion-col>
      <ion-col size=12>
        <div class="button">
          <ion-button id="button" color="dark">login</ion-button>
        </div>
      </ion-col>
      <ion-col size=12>
        <div class="button">
          <ion-button id="button" color="dark">sign up</ion-button>
        </div>
      </ion-col>
      <ion-col size=12>
        <div class="label forgot-password">
          <ion-label id="label" color="danger"><b>forgot password?</b></ion-label>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
